<div class="content">
  {{!-- delete icon visible for notes not older then 15 minutes: --}}
  {{#if canBeDeleted}}
    <i class="right floated trash icon" {{action (action "deleteNote" privateNote)}}></i>
  {{/if}}
  <div class="header">
    {{c-avatar-box name=privateNote.userName size=40}} &nbsp;
    {{privateNote.userName}}
  </div>
  <div class="meta">
    <span class="date">{{date-display privateNote.datetime "long"}}</span>
  </div>
  <div class="description">
    {{nl-to-br privateNote.message}}
  </div>
</div>



